.page-banner {
  align-items: center;
  display: flex;
  background-color: #001a2e;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #FFFFFF;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.page-banner div h2 {
  font-weight: 400;
}

.page-banner div h2 span {
  font-weight: 700;
  color: #FA8128;
}


@media only screen and (min-width: 1024px) {
  .page-banner {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 768px) {
  .page-banner {
    margin-top: 0;
  }
}