nav {
  background-color: #001a2e;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #FFFFFF;
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  text-align: center;
}

nav span {
  font-family: 'Bungee', sans-serif;
}


@media only screen and (min-width: 1024px) {
  nav {
    position: static;
  }
}

/* @media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    font-size: 20px;
    padding: 0;
  }
} */