.new-tweet {
  flex-direction: column;
  margin: 2em auto;
  width: 90%;
}

.new-tweet textarea {
  background-color: #f4f1ec;
  border-bottom: 4px solid black;
  color: #000000;
  padding: 20px;
  width: 100%; 
}

.new-tweet button {
  background-color: #4056a1;
  border: none;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

.new-tweet output{
  float: right;
  font-family: "Bungee", sans-serif;
} 

