.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px solid black;
  color: #000000;
  padding: 10px;
  width: 100%; 
}

.new-tweet button {
  background-color: #001a2e;
  border: none;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

.new-tweet output{
  float: right;
  font-family: "Bungee", sans-serif;
} 

@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin: 2em auto;
    margin-left: 3.5em;
    width: 90%
  }
}