.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  margin-right: 1em;
  margin-top: 10px;
  width: 90%
}

.new-tweet textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px solid black;
  color: #000000;
  padding: 10px;
  width: 100%; 
}

.new-tweet button {
  background-color: #001a2e;
  border: none;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

.new-tweet output{
  float: right;
  font-family: "Bungee", sans-serif;
} 

@media only screen and (max-width: 768px) {
  .new-tweet {
    margin-top: 0;
  }
}